[submodule "f469-disco"]
	path = f469-disco
	url = https://github.com/diybitcoinhardware/f469-disco
[submodule "bootloader"]
	path = bootloader
	url = https://github.com/cryptoadvance/specter-bootloader.git
