[submodule "f469-disco"]
	path = f469-disco
	url = https://github.com/miketlk/f469-disco.git
	branch = micropython-upgrade
[submodule "bootloader"]
	path = bootloader
	url = https://github.com/cryptoadvance/specter-bootloader